<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MERCHANT" >
  <resultMap id="merchantMap" type="com.rxkj.hxg.entity.MERCHANT" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="merchant_tel" property="merchantTel" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="merchant_address" property="merchantAddress" jdbcType="VARCHAR" />
    <result column="home_page" property="homePage" jdbcType="VARCHAR" />
    <result column="link_name" property="linkName" jdbcType="VARCHAR" />
    <result column="link_phone" property="linkPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_no, merchant_name, merchant_tel, create_date, merchant_address, home_page, 
    link_name, link_phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="merchantMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TBL_MERCHANT
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from TBL_MERCHANT
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rxkj.hxg.entity.MERCHANT" >
    insert into TBL_MERCHANT (id, merchant_no, merchant_name, 
      merchant_tel, create_date, merchant_address, 
      home_page, link_name, link_phone
      )
    values (#{id,jdbcType=BIGINT}, #{merchantNo,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{merchantTel,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{merchantAddress,jdbcType=VARCHAR}, 
      #{homePage,jdbcType=VARCHAR}, #{linkName,jdbcType=VARCHAR}, #{linkPhone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rxkj.hxg.entity.MERCHANT" >
    insert into TBL_MERCHANT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantNo != null" >
        merchant_no,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="merchantTel != null" >
        merchant_tel,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="merchantAddress != null" >
        merchant_address,
      </if>
      <if test="homePage != null" >
        home_page,
      </if>
      <if test="linkName != null" >
        link_name,
      </if>
      <if test="linkPhone != null" >
        link_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantTel != null" >
        #{merchantTel,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantAddress != null" >
        #{merchantAddress,jdbcType=VARCHAR},
      </if>
      <if test="homePage != null" >
        #{homePage,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        #{linkPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rxkj.hxg.entity.MERCHANT" >
    update TBL_MERCHANT
    <set >
      <if test="merchantNo != null" >
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantTel != null" >
        merchant_tel = #{merchantTel,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantAddress != null" >
        merchant_address = #{merchantAddress,jdbcType=VARCHAR},
      </if>
      <if test="homePage != null" >
        home_page = #{homePage,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null" >
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        link_phone = #{linkPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rxkj.hxg.entity.MERCHANT" >
    update TBL_MERCHANT
    set merchant_no = #{merchantNo,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_tel = #{merchantTel,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      merchant_address = #{merchantAddress,jdbcType=VARCHAR},
      home_page = #{homePage,jdbcType=VARCHAR},
      link_name = #{linkName,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>